### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### IDE: IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/
.run/

### IDE: Eclipse ###
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings/
bin/
!**/src/**/bin/

### IDE: VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Minecraft / NeoForge ###
run/
runs/
run-data/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/

### Lokale, maschinenspezifische Overrides ###
local.properties
gradle-local.properties
